/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* BODY */
body {
  background: #0f172a;
  color: #e5e7eb;
}

/* NAVBAR */
.navbar {
  background: #020617;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1e293b;
}

.navbar h2 {
  color: #38bdf8;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

/* BUTTON */
.btn {
  background: #38bdf8;
  color: #020617;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: #0ea5e9;
}

/* CARD */
.card {
  background: linear-gradient(180deg, #020617, #0f172a);
  border: 1px solid #1e293b;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #38bdf8;
}

/* FORM */
.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: #020617;
  border: 1px solid #1e293b;
  color: #fff;
  border-radius: 6px;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: #38bdf8;
}
